{% extends 'base.html' %}

{% block content %}

<div class="card shadow-sm p-3">

    <h2>{{ elon.title }}</h2>

    {% if elon.image %}
        <img src="{{ elon.image.url }}" class="img-fluid mb-3">
    {% endif %}

    <h4>{{ elon.price }} so'm</h4>

    <p>{{ elon.description }}</p>

    <a href="{% url 'home' %}" class="btn btn-secondary">
        ⬅ Ortga
    </a>

</div>

<div class="card-body">
    <h2>Elon mualifi</h2>
    {% for author in elon.author.all %}
    <p><a href="">{{author}}</a>
    </p>

    {% endfor %}
</div>


<div class="card-body">
    <h3>Nayshriyot nomi</h3>
    <p>{{elon.publisher}}</p>
</div>

<hr>

<h4>Izoh qoldirish</h4>

<form method="POST" action="{% url 'add_comment' elon.id %}">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Ismingiz" class="form-control mb-2">
    <textarea name="text" placeholder="Izoh..." class="form-control mb-2"></textarea>

    <button type="submit" class="btn btn-success">
        Yuborish
    </button>
</form>

<hr>



<h4>Izohlar</h4>

{% for comment in elon.comments.all %}

<div class="card p-2 mb-2">

    <strong>{{ comment.name }}</strong>
    <p>{{ comment.text }}</p>

    <small class="text-muted">
        🕒 {{ comment.created_at|date:"Y-m-d H:i" }}
    </small>

    <br>

    {% if request.user == comment.user or request.user.is_superuser %}
        <a href="{% url 'update_comment' comment.id %}" class="btn btn-warning btn-sm">
            Edit
        </a>

        <a href="{% url 'delete_comment' comment.id %}" class="btn btn-danger btn-sm">
            Delete
        </a>
    {% endif %}

</div>

{% empty %}
<p>Hozircha izoh yo‘q</p>

{% endfor %}

{% endblock %}