

{% extends 'base.html' %}
{% block content %}

<a href="{% url 'favorites' %}" class="btn btn-warning btn-sm">
    ⭐ Tanlangan
</a>
<h2 class="mb-3">E’lonlar</h2>
<a href="{% url 'create' %}" class="btn btn-success mb-3">
    ➕ E’lon qo‘shish
</a>

<div class="mb-3">
    <a href="/" class="btn btn-dark btn-sm">Barchasi</a>

    {% for cat in categories %}
        <a href="?category={{ cat.id }}" class="btn btn-outline-primary btn-sm">
            {{ cat.name }}
        </a>
    {% endfor %}

</div>

<div class="row">

{% for elon in elons %}
<div class="col-md-4">
    <div class="card mb-3 shadow-sm">

        {% if elon.image %}
        <img src="{{ elon.image.url }}" class="card-img-top" style="height:200px; object-fit:cover;">
        {% endif %}

        <div class="card-body">
            <h5>{{ elon.title }}</h5>
            <p>{{ elon.price }} so'm</p>
            <p><strong>{{ elon.category.name }}</strong></p>
            <a href="{% url 'like_elon' elon.id %}" class="btn btn-light btn-sm">
    {% if user in elon.likes.all %}
        ❤️ Unlike
    {% else %}
        🤍 Like
    {% endif %}
</a>

<p>❤️ {{ elon.likes.count }}</p>

            <a href="{% url 'detail' elon.id %}" class="btn btn-primary btn-sm">
                Batafsil
            </a>
        </div>

    </div>
</div>
{% endfor %}

</div>

{% endblock %}